<%= provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>Welcome to the NUU2HAND</h1>

	<h2>
	  Home page for the open trading community.
	</h2>

	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-success" %>
</div>
