<%= form_for [@book, @book.comments.build], remote: true do |f| %>
  <br />
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.text_area :content, placeholder: "Comment here..." %>
  </div>
  <%= f.submit "Comment", class: "btn btn-primary" %>
<% end %>