<li>
  <span class="thumb"><%= image_tag book.photo.url %></span>
  <span class="title"><%= book.title %></span>
  <span class="timestamp">
  	Posted <%= time_ago_in_words(book.created_at) %> ago.
  </span>
</li>