@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
	overflow-y: scroll;
}

body {
  padding-top: 20px;
  padding-bottom: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* Customize the navbar links to be fill the entire space of the .navbar */

.navbar {
  .navbar-inner {
    padding: 0;
  }
  .nav {
    margin: 0;
    display: table;
    width: 100%; 
    li {
      display: table-cell;
      width: 1%;
      float: none;
      a {
          font-weight: bold;
          text-align: center;
          border-left: 1px solid rgba(255,255,255,.75);
          border-right: 1px solid rgba(0,0,0,.1);
      }
      &:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      &:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;        
      }
    }  
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
}